
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/output.0
autom4te.cache/output.1
 autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
readers/Makefile
readers/Makefile.in
src/Info.plist
src/Makefile
src/Makefile.in
src/libspringcard_ccid_tcp.la
src/libspringcard_ccid_tcp_la-ccid.lo
src/libspringcard_ccid_tcp_la-ccid_network.lo
src/libspringcard_ccid_tcp_la-commands.lo
src/libspringcard_ccid_tcp_la-ifdhandler.lo
src/libspringcard_ccid_tcp_la-simclist.lo
src/libspringcard_ccid_tcp_la-strlcpy.lo
src/libspringcard_ccid_tcp_la-tokenparser.lo
src/openct/.libs/libspringcard_ccid_tcp_la-checksum.o
src/openct/.libs/libspringcard_ccid_tcp_la-buffer.o
src/openct/.libs/libspringcard_ccid_tcp_la-proto-t1.o
src/towitoko/.libs/libspringcard_ccid_tcp_la-atr.o
src/towitoko/.libs/libspringcard_ccid_tcp_la-pps.o
src/.libs/libspringcard_ccid_tcp_la-simclist.o
src/.libs/libspringcard_ccid_tcp_la-ccid_network.o
src/.libs/libspringcard_ccid_tcp_la-ifdhandler.o
src/.libs/libspringcard_ccid_tcp_la-tokenparser.o
src/.libs/libspringcard_ccid_tcp_la-utils.o
src/.libs/libspringcard_ccid_tcp_la-ccid.o
src/.libs/libspringcard_ccid_tcp_la-commands.o
src/.libs/libspringcard_ccid_tcp_la-strlcpy.o
src/openct/.deps/libspringcard_ccid_tcp_la-proto-t1.Plo
src/openct/.deps/libspringcard_ccid_tcp_la-checksum.Plo
src/openct/.deps/libspringcard_ccid_tcp_la-buffer.Plo
src/towitoko/.deps/libspringcard_ccid_tcp_la-atr.Plo
src/towitoko/.deps/libspringcard_ccid_tcp_la-pps.Plo
src/.deps/libspringcard_ccid_tcp_la-commands.Plo
src/.deps/libspringcard_ccid_tcp_la-tokenparser.Plo
src/.deps/libspringcard_ccid_tcp_la-utils.Plo
src/.deps/libspringcard_ccid_tcp_la-strlcpy.Plo
src/.deps/libspringcard_ccid_tcp_la-simclist.Plo
src/.deps/libspringcard_ccid_tcp_la-ccid_network.Plo
src/.deps/libspringcard_ccid_tcp_la-ifdhandler.Plo
src/.deps/libspringcard_ccid_tcp_la-ccid.Plo
src/.deps/libspringcard_ccid_tcp_la-debug.Plo
src/openct/.deps/.dirstamp
src/openct/.dirstamp
src/towitoko/.deps/.dirstamp
src/towitoko/.dirstamp