# udev rules for SPRINGCARDTCPCCID devices

# If not adding the device, go away
ACTION!="add", GOTO="pcscd_springcardtcpccid_rules_end"
SUBSYSTEM!="usb", GOTO="pcscd_springcardtcpccid_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="pcscd_springcardtcpccid_rules_end"

# Kobil mIDentity
#ATTRS{idVendor}=="0d46", ATTRS{idProduct}=="4081", RUN+="/usr/sbin/Kobil_mIDentity_switch"

# set USB power management to auto.
#ENV{ID_USB_INTERFACES}==":0b0000:", RUN+="/bin/sh -c 'echo auto > /sys/$devpath/power/control'"

# All done
LABEL="pcscd_springcardtcpccid_rules_end"
